{% extends '@Website/base.html.twig' %}

{% block title %}Success{% endblock %}
{% block content %}
    <div class="alert alert-success" role="alert">
        Le ticket {{ demande | upper }} a été bien ajouté !
    </div>
{% endblock %}