{% extends '@Website/base.html.twig' %}

{% block title %}WebsiteBundle:GestionTicket:getOpenTickets{% endblock %}

{% block content %}
<h1>Devant vous tous les tickets avec le status "Ouvert"</h1>
    {{ include('@Website/GestionTicket/base_tickets_list.html.twig') }}
{% endblock %}
