{% extends '@Website/base.html.twig' %}

{% block title %}WebsiteBundle:GestionTicket:getFermesTickets{% endblock %}

    {% block content %}
        <h1>Welcome to the GestionTicket:getFermesTickets page</h1>
        {{ include('@Website/GestionTicket/base_tickets_list.html.twig') }}
    {% endblock %}
