{% extends '@Website/base.html.twig' %}

{% block title %}WebsiteBundle:GestionTicket:getFermesTickets{% endblock %}

{% block body %}
<h1>Welcome to the GestionTicket:getFermesTickets page</h1>
{% endblock %}
